@model Cagem_Portfolio.Models.Entities.TblReferance
@{
    ViewBag.Title = "AddReferance";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<from method="post">
    <label>Adı Soyadı</label>
    <input type="text" class="form-control" name="NameSurname" />
    <br />
    <label>Mail</label>
    <input type="text" class="form-control" name="Mail" />
    <br />
    <label>Numarası</label>
    <input type="text" class="form-control" name="Phone" />
    <br />
    <button class="btn btn-success">Kaydet</button>
</from>

