
@{
    ViewBag.Title = "DepartmentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Departman Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Departman Adı</th>
        <th>Departman Durumu</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Yazılım Departmanı</th>
        <th>Aktif</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Bilgi İşlem</th>
        <th>Aktif</th>
    </tr>
</table>

